DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_USER=username          # nome de usuario do banco de dados
DB_PASS=password          # senha do banco de dados
DB_HOST=localhost         # host do banco de dados
DB_PORT=5432              # porta do banco de dados
DB_NAME=database_name     # nome do banco de dados
SECRET_KEY=base64_32      # chave secreta de criptografia
NAME_ADMIN=               # name to user administrator
EMAIL_ADMIN=              # email to user administrator
PASSWORD_ADMIN=           # password to user administrator
